 @page "/"

<!-- Header -->
<header id="header">
    <div class="inner">
        <a  class="logo">Saúde e Bem-estar</a>
        @* <nav id="nav"> *@

        @*     <a href="/">Página principal </a> *@
        @*     <a href="/gestaoestresse">Importância da Gestão do Estresse</a> *@
        @*     <a href="/ambientetrabalho">Saúde Mental no Ambiente de Trabalho</a> *@
        @* </nav> *@
    </div>
</header>



<!-- Banner -->  
  	<section id="banner">  
  		<div class="inner">  
  			<h1>  
  				 <span>  
  					"Priorizar sua saúde mental é o primeiro passo para viver plenamente e enfrentar os desafios com equilíbrio e força."  
  				</span>  
  			</h1>  
  		</div>  
  	</section><!-- One -->  
  	<section id="one">  
  		<div class="inner">  
  			<header>  
  				<h2>O que é estresse mental?</h2>
        </header><p>Estresse mental é a resposta do nosso organismo a demandas percebidas como ameaçadoras ou excessivas para nossa capacidade de lidar. Em outras palavras, ocorre quando exigências internas ou externas (como trabalho, estudos, relacionamentos, preocupações financeiras) ultrapassam nossos recursos emocionais e cognitivos.</p>

    </div>  
  	</section><!-- Two -->  
  	
      <section id="two">  
  		<div class="inner">  
  			<article>  
  				<div class="content">  
  					<header>
                    <h3>
                        Estresse Agudo

                    </h3>
                </header><div class="image fit">  
  						<img src="stress1.png" alt="" width="473" height="220">  
  					</div>
                <p>Estresse agudo é a reação imediata e curta a um desafio pontual, enquanto o estresse crônico é a sobrecarga prolongada que desgasta física e emocionalmente ao longo do tempo.</p>
            </div>  
  			</article><article class="alt">  
  				<div class="content">  
  					<header>
                    <h3>Estresse Crônico</h3>
                </header><div class="image fit">  
  						<img src="stress2.png" alt="" width="473" height="220">  
  					</div>
                <p>O estresse crônico ocorre quando situações difíceis ou exigentes persistem por longos períodos, causando desgaste emocional e físico contínuo, enquanto o agudo é uma resposta rápida e passageira a eventos específicos.</p>
            </div>  
  			</article>  
  		</div>  
  	</section><!-- Three -->  
  	<section id="three">  
  		<div class="inner">  
  			<article>  
  				<div class="content">
                <span class="icon fa-heartbeat"></span>
                <header>
                    <h3>Problemas de saúde física</h3>
                </header><p>Pode levar a dores de cabeça, insônia, hipertensão e enfraquecimento do sistema imunológico.</p>
 
  				</div>  
  			</article><article>  
  				<div class="content">
                <span class="icon fa-balance-scale"></span>
                <header>
                    <h3>Impacto emocional</h3>
                </header><p>Aumenta a ansiedade, irritabilidade e pode desencadear depressão.</p>
             
  				</div>  
  			</article><article>  
  				<div class="content">
                <span class="icon fa-arrow-down"></span>
                <header>
                    <h3>Desempenho prejudicado</h3>
                </header><p>Reduz a concentração, produtividade e a capacidade de tomar decisões.</p>
           
  				</div>  
  			</article>  
  		</div>  
  	</section>




<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Importância da Gestão do Estresse</h1>
            <p>Gerenciar o estresse é essencial para preservar a saúde mental, melhorar a qualidade de vida e alcançar equilíbrio emocional.</p>
        </header><a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
        <p>O estresse é uma resposta natural do corpo frente a desafios e pressões diárias. Quando gerenciado adequadamente, ele pode até servir como um motivador, ajudando-nos a alcançar metas e superar adversidades. No entanto, quando negligenciado ou prolongado, o estresse pode se tornar um inimigo silencioso, impactando negativamente a saúde mental, física e emocional.</p>
        <p>Gerenciar o estresse é fundamental porque ele afeta diretamente nossa capacidade de tomar decisões, manter relacionamentos saudáveis e ser produtivo no dia a dia. Além disso, o estresse contínuo pode desencadear uma série de problemas, como ansiedade, depressão, insônia e doenças cardiovasculares.</p>
        <p>Ao adotar práticas de gestão do estresse, como exercícios físicos, técnicas de relaxamento, terapia ou até mesmo pausas conscientes no trabalho, é possível cultivar uma mente mais equilibrada e resiliente. O gerenciamento eficaz do estresse não apenas melhora a qualidade de vida, mas também nos ajuda a lidar melhor com desafios futuros, promovendo bem-estar e uma saúde integral.</p>
    </div>
</section>






<section id="main">
    <div class="inner">
        <header class="major special">
            <h1>Saúde Mental no Ambiente de Trabalho</h1>
            <p>Saúde mental no trabalho: fundamental para colaboradores engajados e empresas bem-sucedidas.</p>
        </header><a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
        <p>A saúde mental no ambiente de trabalho é um tema cada vez mais relevante em um mundo corporativo dinâmico e exigente. O equilíbrio emocional dos colaboradores impacta diretamente a produtividade, o clima organizacional e o sucesso das empresas. Quando negligenciada, a saúde mental pode ser prejudicada por fatores como excesso de cobranças, prazos apertados, conflitos interpessoais e a falta de suporte adequado, resultando em condições como estresse crônico, burnout e ansiedade.</p>
        <p>Investir na promoção da saúde mental no trabalho é essencial para criar um ambiente saudável e acolhedor. Iniciativas como a valorização do diálogo aberto, programas de bem-estar, horários flexíveis e o reconhecimento das contribuições dos funcionários ajudam a prevenir problemas e promover o engajamento.</p>
        <p>Um ambiente de trabalho que prioriza a saúde mental é mais que um lugar de crescimento profissional; é também um espaço onde os indivíduos podem se desenvolver plenamente, sentir-se valorizados e alcançar um equilíbrio entre vida pessoal e profissional.</p>
    </div>
</section>









  	<div class="copyright">
    Desenvolvido para fins acadêmicos, este site tem como objetivo conscientizar sobre a importância da saúde e do cuidado mental.
  	</div>  













































