 @page "/SaudeEBemEstar"

<!-- Banner -->  
  	<section id="banner">  
  		<div class="inner">  
  			<h1>  
  				 <span>  
  					"Priorizar sua saúde mental é o primeiro passo para viver plenamente e enfrentar os desafios com equilíbrio e força."  
  				</span>  
  			</h1>  
  		</div>  
  	</section><!-- One -->  
  	<section id="one">  
  		<div class="inner">  
  			<header>  
  				<h2>O que é estresse mental?</h2>
        </header><p>Estresse mental é a resposta do nosso organismo a demandas percebidas como ameaçadoras ou excessivas para nossa capacidade de lidar. Em outras palavras, ocorre quando exigências internas ou externas (como trabalho, estudos, relacionamentos, preocupações financeiras) ultrapassam nossos recursos emocionais e cognitivos.</p>

    </div>  
  	</section><!-- Two -->  
  	
      <section id="two">  
  		<div class="inner">  
  			<article>  
  				<div class="content">  
  					<header>
                    <h3>
                        Estresse Agudo

                    </h3>
                </header><div class="image fit">  
  						<img src="stress1.png" alt="" width="473" height="220">  
  					</div>
                <p>Estresse agudo é a reação imediata e curta a um desafio pontual, enquanto o estresse crônico é a sobrecarga prolongada que desgasta física e emocionalmente ao longo do tempo.</p>
            </div>  
  			</article><article class="alt">  
  				<div class="content">  
  					<header>
                    <h3>Estresse Crônico</h3>
                </header><div class="image fit">  
  						<img src="stress2.png" alt="" width="473" height="220">  
  					</div>
                <p>O estresse crônico ocorre quando situações difíceis ou exigentes persistem por longos períodos, causando desgaste emocional e físico contínuo, enquanto o agudo é uma resposta rápida e passageira a eventos específicos.</p>
            </div>  
  			</article>  
  		</div>  
  	</section><!-- Three -->  
  	<section id="three">  
  		<div class="inner">  
  			<article>  
  				<div class="content">
                <span class="icon fa-heartbeat"></span>
                <header>
                    <h3>Problemas de saúde física</h3>
                </header><p>Pode levar a dores de cabeça, insônia, hipertensão e enfraquecimento do sistema imunológico.</p>
 
  				</div>  
  			</article><article>  
  				<div class="content">
                <span class="icon fa-balance-scale"></span>
                <header>
                    <h3>Impacto emocional</h3>
                </header><p>Aumenta a ansiedade, irritabilidade e pode desencadear depressão.</p>
             
  				</div>  
  			</article><article>  
  				<div class="content">
                <span class="icon fa-arrow-down"></span>
                <header>
                    <h3>Desempenho prejudicado</h3>
                </header><p>Reduz a concentração, produtividade e a capacidade de tomar decisões.</p>
           
  				</div>  
  			</article>  
  		</div>  
  	</section>
      

  	<div class="copyright">
    Desenvolvido para fins acadêmicos, este site tem como objetivo conscientizar sobre a importância da saúde e do cuidado mental.
  	</div>  













































